<div class='container mt-5'>
  <div class='row'>
    <div class='card col-sm m-1'>
      <img
        src='https://www.looper.com/img/gallery/the-underrated-rick-and-morty-character-fans-want-to-see-more-of/l-intro-1648497271.jpg'
        class='card-img-top mt-2'
        alt='Characters-image'
      />
      <div class='card-body'>
        <h5 class='card-title'>Characters</h5>
        <LinkTo
          @route='character'
          class='card-text text-muted stretched-link'
          style='text-decoration: none'
        >Go to characters...</LinkTo>
      </div>
    </div>

    <div class='card col-sm m-1'>
      <img
        src='https://www.tenhomaisdiscosqueamigos.com/wp-content/uploads/2022/05/ricky-and-morty-adult-swim.jpg'
        class='card-img-top mt-2'
        alt='Characters-image'
      />
      <div class='card-body'>
        <h5 class='card-title'>Episodes</h5>
        <LinkTo
          @route='episode'
          class='card-text text-muted stretched-link'
          style='text-decoration: none'
        >Go to episodes...</LinkTo>
      </div>
    </div>

    <div class='card col-sm m-1'>
      <img
        src='https://i0.wp.com/overmental.com/wp-content/uploads/2015/10/rick-and-morty-dimension-35c.jpg?ssl=1'
        class='card-img-top mt-2'
        alt='Characters-image'
      />
      <div class='card-body'>
        <h5 class='card-title'>Locations</h5>
        <LinkTo
          @route='location'
          class='card-text text-muted stretched-link'
          style='text-decoration: none'
        >Go to locations...</LinkTo>
      </div>
    </div>
  </div>
</div>