<div class='container mt-5'>
  <div class='card mb-3'>
    <img
      src='https://cdn.mos.cms.futurecdn.net/tyF9Uef2VsKLBu3B52Qegn.jpg'
      class='card-img-top'
      alt='Characters-image'
    />
    <div class='card-body'>
      <h5 class='card-title'>Characters</h5>
      <a
        href='/character'
        class='card-text text-muted stretched-link'
        style='text-decoration: none'
      >Go to characters...</a>
    </div>
  </div>

  <div class='card mb-3'>
    <img
      src='https://media.cdn.adultswim.com/uploads/20210628/thumbnails/2_21628714375-RickMorty_Inside502.png'
      class='card-img-top'
      alt='Characters-image'
    />
    <div class='card-body'>
      <h5 class='card-title'>Episodes</h5>
      <a
        href='/episode'
        class='card-text text-muted stretched-link'
        style='text-decoration: none'
      >Go to episodes...</a>
    </div>
  </div>

  <div class='card'>
    <img
      src='https://i0.wp.com/overmental.com/wp-content/uploads/2015/10/rick-and-morty-dimension-35c.jpg?ssl=1'
      class='card-img-top'
      alt='Characters-image'
    />
    <div class='card-body'>
      <h5 class='card-title'>Locations</h5>
      <a
        href='/location'
        class='card-text text-muted stretched-link'
        style='text-decoration: none'
      >Go to locations...</a>
    </div>
  </div>
</div>