<div class='d-flex justify-content-between w-100'>
  <button
    type='button'
    class='btn btn-outline-secondary m-5'
    id='back'
  >back</button>
  <button
    type='button'
    class='btn btn-outline-secondary m-5'
    id='next'
  >next</button>
</div>