<div class='container w-100 d-flex justify-content-end'>
  <button
    type='button'
    class='btn btn-outline-secondary border-0'
    onclick={{fn @nextPage}}
  ><i class="fa-solid fa-square-caret-down h2"></i></button>
</div>