<div class='container w-100 d-flex justify-content-center'>
  <button
    type='button'
    class='btn btn-outline-secondary m-2'
    id='back'
  >back</button>
  <button
    type='button'
    class='btn btn-outline-secondary m-2'
    id='next'
  >next</button>
</div>